html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  

* {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

div {
    width: 500px;
    margin: 0 auto;
}

/* title */
h1 { 
    font-size: 32px;
    text-align: center;
    padding: 8px;
    margin: 0px auto;
}

h1:hover {
    color: rgb(199, 162, 140);
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
}

/* subtitle */
h2 {
    font-size: 24px;
    text-align: left;
}

/* recipe buttons */
#buttons li {
    list-style: none;
    background-color: black;
    border-radius: 20px;
    margin: 10px auto;
    width: 250px;
    line-height: 60px;
    text-align: center;
}

#buttons li a {
    text-decoration: none;
    color: white;
    padding: 8px;
    display: block;
}

#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: rgb(199, 162, 140);
    border-radius: 20px;
  }

img {
    width: 480px;
    height: auto;
    margin-left: 20px;
    border-radius: 20px;
}