* {
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 32px;
    text-align: left;
    margin-left: 40px;
}
#buttons li {
    list-style: none;
    background-color: black;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 240px;
    line-height: 60px;
    text-align: center;
}

#buttons li a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
}

#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: rgb(199, 162, 140);
  }