* {
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 32px;
    text-align: left;
    margin-left: 40px;
}

h1:hover {
    color: rgb(199, 162, 140);
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 24px;
    text-align: left;
}


#buttons li {
    list-style: none;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 240px;
    line-height: 60px;
    text-align: center;
}

#buttons li a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
}

#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: rgb(199, 162, 140);
    border-radius: 20px;
  }